@using SocialTwitter.Models
@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- meta_tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="connective login form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta_tag_Keywords -->
    <link href="~/Templates/Login/css/style.css" rel="stylesheet" type="text/css" media="all"><!--style_sheet-->
    <link href="~/Templates/Login/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"><!--font_awesome_icons-->
    <!--web_fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <!--//web_fonts-->
</head>
<body>
    <div class="form">
        <h1>Social Twitter</h1>
        <div class="form-content">
            @using (Html.BeginForm("EventLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-info">
                    <h2>Login</h2>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="email-w3l">
                    <span class="i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "email", @type = "email", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="pass-w3l">
                    <span class="i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "pass", @type = "password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-check">
                    <div class="left">
                        <span>@Html.CheckBoxFor(m => m.RememberMe)Remember Me?</span>
                    </div>
                    <div class="right">
                        @Html.ActionLink("Create new account", "EventRegister", "Account")
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="submit-agileits">
                    <input class="login" type="submit" value="Log in">
                </div>

            }

        </div>
    </div>
</body>
</html>

